<div class="content">

  <h2>Edit Eatery Details</h2>

  <form class="edit-form" action="/eateries/<%= @eatery.id %>" method="POST">

    <label for="name_input">Name:</label>
    <input id="name_input" type="text" name="name" value="<%= @eatery.name %>">


    <label for="location_input">Location:</label>
    <input id="location_input" type="text" name="location" value="<%= @eatery.location %>">

    <div class="buttons-container">
      <input class="button" type="submit" name="" value="Update Eatery">
    </div>
  </form>

</div>
