<div class="content">


<h2>Add a new eatery</h2>

<div class="session-message">
  <% if @message %>
    <p><%= @message %></p>
  <% end %>
</div>

<form class="edit-form" action="/eateries" method="POST">

    <label for="name_input">Eatery name:</label>
    <input id="name_input" type="text" name="name" value="">


    <label for="location_input">Location:</label>
    <input id="location_input" required type="text" name="location" value="">


  <input class="button submit" type="submit" name="" value="Create eatery">

</form>

</div>
