<!DOCTYPE html>
<html>
<head>
  <title>Burger Deals Tracker</title>
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css?family=Itim|Kalam|Nothing+You+Could+Do|Permanent+Marker|Sirin+Stencil|Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Akronim|Cherry+Cream+Soda|Londrina+Shadow|Yatra+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>
<body>
<header class="layout-header">


  <div class="main-title">
    <h1> <a href="/"> Jarrods:  Burger Deals Tracker </a></h1>
  </div>
  <nav>
    <ul class="navigation">
      <li><a href="/eateries">Eateries </a></li>
      <li><a href="/burgers">Burgers </a></li>
      <li><a href="/deals">Deals </a></li>
    </ul>
    <ul class="navigation">
      <li> <a href="/search">Search by day</a> </li>
      <li> <a href="/type">Search by burger type</a> </li>
      <li> <a href="/location">Search by location</a> </li>
    </ul>
  </nav>
</header>
  <main class="container">
    <%= yield %>
  </main>
</body>

</html>
