<!DOCTYPE html>
<html>
<head>
  <title>Burger Deals Tracker</title>
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css?family=Itim|Kalam|Nothing+You+Could+Do|Permanent+Marker|Sirin+Stencil|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>
<body>
  <h1> <a href="/"> Jarrods:  Burger Deals Tracker </a></h1>
  <nav>
    <ul class="navigation">
      <li><a href="/">Home </a></li>
      <li><a href="/eateries">Eateries </a></li>
      <li><a href="/burgers">Burgers </a></li>
      <li><a href="/deals">Deals </a></li>
    </ul>
    <ul class="search-navigation">
      <li> <a href="/search">Search by day</a> </li>
      <li> <a href="/search">Search by burger type</a> </li>
      <li> <a href="/search">Search by location</a> </li>
    </ul>
  </nav>

  <main>
    <%= yield %>
  </main>
</body>

</html>
