<!DOCTYPE html>
<html>
<head>
  <title>Burger Deals Tracker</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Burger Deals Tracker</h1>
  <nav>
    <ul>
      <li><a href="/eateries">Eateries </a></li>
    </ul>
  </nav>
  <hr>
  <main>
    <%= yield %>
  </main>
</body>

</html>
