<h2>Eatery Details</h2>

<p>Name: <%= @eatery.name %></p>
<p>Location: <%= @eatery.location %></p>
<a href="/eateries/<%= @eatery.id %>/edit">Edit eatery details</a>
<form class="delete-button" action="/eateries/<%= @eatery.id %>/delete" method="POST">
    <input type="submit" name="delete-button" value="Delete Eatery">
</form>
