<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    <a href="/search/days">All deals ordered by day</a>
    <a href="/search/day">Search by individual day</a>
  </body>
</html>
