<div class="content">
<h2>Search options</h2>
  <div class="search-buttons">

    <a class="button search" href="/search/days">All deals ordered by day</a>

    <a class="button search" href="/search/day">Search by individual day</a>

  </div>

</div>
