<div class="content">

  <h2>Add a burger to a deal</h2>
  <p>Eatery name:  <%= @eatery.name %> </p>
  <form class="edit-form" action="/deals/add_burger" method="POST">

    <label for="burger_id_select">
      Select a burger: </label>
      <select id="burger_id_select"class="" name="burger_id">
        <% for burger in @burgers_to_add %>
        <option value="<%= burger.id %>"><%= burger.name %></option>
        <% end %>
      </select>

      <div class="">
        <input type="hidden" name="deal_id" value="<%= @deal.id %>">
        <input class="button submit" type="submit" name="" value="Add burger to deal">
      </div>
    </form>

  </div>
