<div class="content">

<h2>Add a new deal</h2>

<div class="session-message">
  <% if @message %>
    <p><%= @message %></p>
  <% end %>
</div>

<form class="edit-form" action="/deals" method="POST">

    <label for="deal_name_input">Deal name:</label>
    <input id="deal_name_input" required type="text" name="deal_name" value="">

  <label for="day_select">  Select a day:</label>
    <select id="day_select" name="day">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>

  <input type="hidden" name="eatery_id" value="<%= @eatery_id %>">
  <input class="button submit" type="submit" name="" value="Create deal">

  </form>
</div>
