body {
  background-image: url("/images/burger-large.jpg");
}

.session-message {
  color: red;
  background-color: white;
}

.navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.navigation a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding: 1em;
  color: white;
  font-family: 'Itim', cursive;

}

.navigation li {
  border: 2px solid white;
  min-width: 350px;
  text-align: center;
}

.navigation a:hover {
  background: #d0d0ed;
}

.main-title a {
  text-decoration: none;
  font-family: 'Cherry Cream Soda', cursive;
  color: white;
  padding-left: 10px;
}

.main-title {
  font-size: 30px;
  position: center;
}

header {
  background: black;
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  width: 50%;
  margin: auto;
  /* border: 1px solid white; */
  color: white;
  padding: 10px;
  font-family: 'Itim', cursive;
}

.content h2 {
  font-size: 30px;
  margin: 0;
}

.content p {
  font-size: 18px;
}

.content a {
  text-decoration: none;
  /* color: #2810eb; */
}

.content a:hover {
  background: #d0d0ed;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Itim', cursive;
}

.submit {
  font-size: 13px;
  padding: 7px 7px;
  border-radius: 5px;
}

.button:hover {
  background: #d0d0ed;
}

.edit-form label {
  display: inline-block;
  /* float: left; */
  /* clear: left; */
  /* width: 125px; */
  text-align: right;
  margin-right: 20px;
}

.edit-form input {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 25px;
  clear: right;
}

.buttons-container {
  display: inline-block;
}

.search {
  margin-top: 30px;
  margin-left: 80px;
}

.search-buttons {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.inline-button {
  display: inline-block;
}

.display-table {
  width: 100%;
  text-align: left;
  font-size: 18px;
  border: 1px solid white;
}

.display-table th {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.index-title {
  font-size: 40px;
  position: center;
  color: white;
  /* font-family: 'Akronim', cursive; */
  font-family: 'Nothing You Could Do', cursive;
  /* font-family: 'Sirin Stencil', cursive; */
  /* font-family: 'Varela Round', sans-serif; */
}

/* font-family: 'Cherry Cream Soda', cursive;
font-family: 'Akronim', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Yatra One', cursive; */
