<div class="content">

  <h2>Edit burger details for:  <%= @burger.name %></h2>

  <form class="edit-form" action="/burgers/<%= @burger.id %>" method="POST">

      <label for="name_input">Name:</label>
      <input id="name_input" type="text" name="name" value="<%= @burger.name %>">


      <label for="price_input">Price:</label>
      <input id="price_input" type="text" name="price" value="<%= @burger.price %>">


  <div class="buttons-container">
    <input class="button submit" type="submit" name="" value="Update Burger">
  </div>
</form>
</div>
